:root {
  --content-width: 25em;
}

:head {
  background: white;
}

body {
  display: flex;
  flex-wrap: wrap;
  flex-direction: unset;
  justify-content: space-between;
}

.time {
  float: right;
}

.content-container {
  display: flex;
  align-items: center;
}

.content-holder {
  display: block;
  align-items: center;  
}

.content {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.answer {
  width: var(--content-width);  
  border-top: 1pt solid black;
}

button {
  background-color: blue;
  color: white;
  font-size: 20px;
}

.display-high-scores {
  color: black;
  background-color: white;
  border: none;
  font-size: 15 px;
}

.button-holder {
  padding-top: 10px;
}